%h1 Upload 3 Images
%form{:action => '/', :method => 'post', :enctype => 'multipart/form-data'}
  %input{:type => 'file', :name => 'image1'}
  %br
  %input{:type => 'file', :name => 'image2'}
  %br
  %input{:type => 'file', :name => 'image3'}
  %br
  %input{:type => 'submit', :value => 'Generate Three X Moon'}